.tracker-display {
    position: relative;
    background-image: url('Assets_420/tracker-bg-zones.png');
    border: 2px solid red;
    width: 420px;
    height: 420px;
    margin-right: 2px;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#view {
    border: 0px;
}

.tracker-display img {
    position: absolute;
    display: none;
}

.tracker-display img.lead {
    display: block;
}

.tracker-display img.show {
    display: block;
}

.mapstone-text {
    position: absolute;
    left: 200px;
    top: 271px;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

/*
.tracker  > div > img.on {
    transform: scale(1.0);
    transition: transform 500ms cubic-bezier(0.595, 1.800, 0.145, 0.910);
    visibility: visible;
}
*/

img.shine {
    /*
    transform: scale(1.0);
    transition: transform 500ms cubic-bezier(0.595, 1.800, 0.145, 0.910);
    visibility: visible;
    */
    background: linear-gradient(
			135deg,
			transparent 0%,
			transparent 45%,
			rgba(255,255,255,1) 50%,
			transparent 55%,
			transparent 100%
		    );
    background-size: 600% 600%;
    clip-path: circle(var(62px, 36.829px) at var(--x, center) var(--y, center));

    /*
    clip-path: circle(var(--r, 36.829px) at var(--x, center) var(--y, center));
   */
    animation: sheen 2s ease;
    /* background: rgba(255,255,255,0); */
    /* animation: light-burst 500ms ease alternate 2; */
} 