.tracker-display {
    position: relative;
    background-image: url('Assets_420/tracker-bg.png');
    background-color: black;
    border: 2px solid red;
    width: 420px;
    height: 420px;
    margin-right: 2px;
}

.tracker-display img.lead {
    display: block;
}

.tracker-display img {
    position: absolute;
    display: none;
}

.tracker-display img.show {
    display: block;
}

/* have to overwrite this */
.tracker-container {
    flex: 0 1 auto;
}

.control-container {
    background-color: #1C1C1C;
}
