.tracker-display {
    position: relative;
    background-image: url('Assets_420/tracker-bg.png');
    background-color: black;
    border: 2px solid red;
    width: 420px;
    height: 420px;
    margin-right: 2px;
}

.tracker-display img.lead {
    display: block;
}

.lead-controls {
    display: inline-block;
    text-align: center;
    padding: 2px;
    vertical-align: center;
    background-color: #DDDDDD;
    overflow: hidden;
    margin-left: 0 auto;
    margin-right: 0 auto;
}
