.tracker-display {
    position: relative;
    background-image: url('Assets_420/tracker-bg.png');
    border: 2px solid red;
    width: 420px;
    height: 420px;
    margin-right: 2px;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

#view {
    border: 0px;
}

.tracker-display img {
    position: absolute;
    display: none;
}

.tracker-display img.lead {
    display: block;
}

.tracker-display img.show {
    display: block;
}

.mapstone-text {
    position: absolute;
    left: 200px;
    top: 271px;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-size: 28px;
    font-weight: bold;
}
