.tracker-display {
    position: relative;
    background-image: url('Assets_420/tracker-bg.png');
    background-color: black;
    border: 2px solid red;
    width: 420px;
    height: 420px;
    margin-right: 2px;
}

.tracker-control-mapstones {
    margin-top: 7px;
    margin-left: 20px;
    display: inline-block;
    text-align: center;
    padding: 2px;
    vertical-align: center;
    background-color: #DDDDDD;
    overflow: hidden;
}

.tracker-control-mapstones span {
    vertical-align: top;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
}

.mapstone-text {
    position: absolute;
    left: 200px;
    top: 271px;
    color: white;
    font-family: 'Amatic SC';
    font-size: 28px;
    font-weight: bold;
}
