.tracker-display {
    position: relative;
    background-image: url('Assets_420/tracker-bg.png');
    background-color: black;
    border: 2px solid red;
    width: 420px;
    height: 420px;
    margin-right: 2px;
}

.tracker-display img {
    position: absolute;
    display: none;
}

.tracker-display img.show {
    display: block;
}

.mapstone-text {
    position: absolute;
    left: 200px;
    top: 271px;
    color: white;
    font-family: 'Amatic SC';
    font-size: 28px;
    font-weight: bold;
}
